<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1519.4736842105262</real>
    <key>capHeight</key>
    <real>1431.719298245614</real>
    <key>copyright</key>
    <string>Copyright 2019 The Russolo Project Authors (https://github.com/laerm0/Russolo)</string>
    <key>descender</key>
    <integer>-526</integer>
    <key>familyName</key>
    <string>Russolo</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/01/07 16:40:41</string>
    <key>openTypeHheaAscender</key>
    <integer>1529</integer>
    <key>openTypeHheaDescender</key>
    <integer>-471</integer>
    <key>openTypeHheaLineGap</key>
    <integer>500</integer>
    <key>openTypeNameDesigner</key>
    <string>Micah Stupak-Hahn</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://measureandfit.co</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameWWSSubfamilyName</key>
    <string>Bold</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1529</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-471</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>500</integer>
    <key>openTypeOS2VendorID</key>
    <string>M+F</string>
    <key>openTypeOS2WeightClass</key>
    <integer>600</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2649</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>600</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-30.421052631578945</real>
      <integer>0</integer>
      <real>1004.6842105263158</real>
      <real>1032.438596491228</real>
      <integer>1430</integer>
      <real>1456.9473684210527</real>
      <real>1519.4736842105262</real>
      <real>1554.157894736842</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-572.438596491228</real>
      <integer>-526</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>144.7017543859649</real>
      <real>142.4736842105263</real>
      <real>152.43859649122805</real>
      <real>151.19298245614036</real>
      <real>148.19298245614036</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>252.28070175438597</real>
      <real>260.3157894736842</real>
      <real>255.75438596491227</real>
      <real>260.5438596491228</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Russolo 10pt Light</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>styleName</key>
    <string>10pt SemiBold</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>1004.6842105263158</real>
  </dict>
</plist>
