<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1524</integer>
    <key>capHeight</key>
    <integer>1445</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Russolo Project Authors (https://github.com/laerm0/Russolo)</string>
    <key>descender</key>
    <integer>-526</integer>
    <key>familyName</key>
    <string>Russolo</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/01/07 16:40:41</string>
    <key>openTypeHheaAscender</key>
    <integer>1524</integer>
    <key>openTypeNameDesigner</key>
    <string>Micah Stupak-Hahn</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://measureandfit.co</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1524</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-476</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>500</integer>
    <key>openTypeOS2VendorID</key>
    <string>M+F</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2649</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>600</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-42</integer>
      <integer>0</integer>
      <integer>944</integer>
      <integer>970</integer>
      <integer>1445</integer>
      <integer>1476</integer>
      <integer>1524</integer>
      <integer>1570</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-572</integer>
      <integer>-526</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>66</integer>
      <integer>70</integer>
      <integer>71</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>336</integer>
      <integer>342</integer>
      <integer>332</integer>
      <integer>336</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Russolo 24pt ExtraBold</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>24pt ExtraBold</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>944</integer>
  </dict>
</plist>
