<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>En-cy</key>
    <string>E_n-cy.glif</string>
    <key>Endescender-cy</key>
    <string>E_ndescender-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Ghestroke-cy</key>
    <string>G_hestroke-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Gje-cy</key>
    <string>G_je-cy.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Iishort-cy</key>
    <string>I_ishort-cy.glif</string>
    <key>Imacron-cy</key>
    <string>I_macron-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kje-cy</key>
    <string>K_je-cy.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.t</key>
    <string>O_.t.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Umacron-cy</key>
    <string>U_macron-cy.glif</string>
    <key>Ushort-cy</key>
    <string>U_short-cy.glif</string>
    <key>Ustrait-cy</key>
    <string>U_strait-cy.glif</string>
    <key>Ustraitstroke-cy</key>
    <string>U_straitstroke-cy.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>endescender-cy</key>
    <string>endescender-cy.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>fita-cy</key>
    <string>fita-cy.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghestroke-cy</key>
    <string>ghestroke-cy.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>gje-cy</key>
    <string>gje-cy.glif</string>
    <key>hadescender-cy</key>
    <string>hadescender-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>iishort-cy</key>
    <string>iishort-cy.glif</string>
    <key>imacron-cy</key>
    <string>imacron-cy.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kje-cy</key>
    <string>kje-cy.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.t</key>
    <string>n.t.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>te-cy</key>
    <string>te-cy.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>ushort-cy</key>
    <string>ushort-cy.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>ustraitstroke-cy</key>
    <string>ustraitstroke-cy.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
