<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1521.4</real>
    <key>capHeight</key>
    <real>1441.4533333333334</real>
    <key>copyright</key>
    <string>Copyright 2019 The Russolo Project Authors (https://github.com/laerm0/Russolo)</string>
    <key>descender</key>
    <integer>-526</integer>
    <key>familyName</key>
    <string>Russolo</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/01/07 16:40:41</string>
    <key>openTypeHheaAscender</key>
    <integer>1529</integer>
    <key>openTypeHheaDescender</key>
    <integer>-471</integer>
    <key>openTypeHheaLineGap</key>
    <integer>500</integer>
    <key>openTypeNameDesigner</key>
    <string>Micah Stupak-Hahn</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://measureandfit.co</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameWWSSubfamilyName</key>
    <string>Bold</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1529</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-471</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>500</integer>
    <key>openTypeOS2VendorID</key>
    <string>M+F</string>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2649</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>600</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-38.946666666666665</real>
      <integer>0</integer>
      <real>924.9466666666667</real>
      <real>962.4</real>
      <real>1441.4533333333334</real>
      <real>1471.9466666666667</real>
      <real>1521.4</real>
      <real>1565.3733333333334</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-573.52</real>
      <real>-544.7466666666667</real>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>105.81333333333333</real>
      <real>104.88</real>
      <real>114.29333333333332</real>
      <real>112.29333333333334</real>
      <real>109.29333333333334</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>258.48</real>
      <real>268.0266666666667</real>
      <real>253.4666666666667</real>
      <real>263.03999999999996</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Russolo 72pt</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>styleName</key>
    <string>72pt Bold</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>919.3733333333333</real>
  </dict>
</plist>
