<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.t</key>
    <string>O_.t.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.rvrn</key>
    <string>m.rvrn.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
  </dict>
</plist>
