<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>bubble</string>
      <string>glyphs.bubble</string>
    </array>
    <array>
      <string>Regular Sep 24 15, 01:00</string>
      <string>glyphs.R_egular S_ep 24 15, 01_00</string>
    </array>
    <array>
      <string>Regular Sep 29 15, 12:20</string>
      <string>glyphs.R_egular S_ep 29 15, 12_20</string>
    </array>
    <array>
      <string>SemiBold Oct 1 15, 15:26</string>
      <string>glyphs.S_emiB_old O_ct 1 15, 15_26</string>
    </array>
    <array>
      <string>SemiBold wider - like N</string>
      <string>glyphs.S_emiB_old wider - like N_</string>
    </array>
    <array>
      <string>guide</string>
      <string>glyphs.guide</string>
    </array>
    <array>
      <string>o</string>
      <string>glyphs.o</string>
    </array>
    <array>
      <string>shrunken</string>
      <string>glyphs.shrunken</string>
    </array>
    <array>
      <string>SemiBold Oct 1 15, 15:52</string>
      <string>glyphs.S_emiB_old O_ct 1 15, 15_52</string>
    </array>
    <array>
      <string>SemiBold Oct 18 15, 14:19</string>
      <string>glyphs.S_emiB_old O_ct 18 15, 14_19</string>
    </array>
  </array>
</plist>
