<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1514</integer>
    <key>capHeight</key>
    <integer>1430</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Russolo Project Authors (https://github.com/laerm0/Russolo)</string>
    <key>descender</key>
    <integer>-526</integer>
    <key>familyName</key>
    <string>Russolo</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/01/07 16:40:41</string>
    <key>openTypeNameDesigner</key>
    <string>Micah Stupak-Hahn</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://measureandfit.co</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1514</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-486</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>500</integer>
    <key>openTypeOS2VendorID</key>
    <string>M+F</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2257</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>600</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-27</integer>
      <integer>0</integer>
      <integer>910</integer>
      <integer>939</integer>
      <integer>1430</integer>
      <integer>1461</integer>
      <integer>1514</integer>
      <integer>1532</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-578</integer>
      <integer>-526</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>10</integer>
      <integer>14</integer>
      <integer>13</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>86</integer>
      <integer>72</integer>
      <integer>92</integer>
      <integer>77</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Russolo 72pt ExtraLight</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>72pt ExtraLight</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>910</integer>
  </dict>
</plist>
