<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1516.7751937984497</real>
    <key>capHeight</key>
    <integer>1430</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Russolo Project Authors (https://github.com/laerm0/Russolo)</string>
    <key>descender</key>
    <integer>-526</integer>
    <key>familyName</key>
    <string>Russolo</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/01/07 16:40:41</string>
    <key>openTypeHheaAscender</key>
    <integer>1529</integer>
    <key>openTypeHheaDescender</key>
    <integer>-471</integer>
    <key>openTypeHheaLineGap</key>
    <integer>500</integer>
    <key>openTypeNameDesigner</key>
    <string>Micah Stupak-Hahn</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://measureandfit.co</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1529</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-471</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>500</integer>
    <key>openTypeOS2VendorID</key>
    <string>M+F</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2649</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>600</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-26.612403100775193</real>
      <integer>0</integer>
      <real>997.6317829457364</real>
      <real>1025.0193798449613</real>
      <integer>1430</integer>
      <real>1450.937984496124</real>
      <real>1516.7751937984497</real>
      <real>1544.1007751937984</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-565.937984496124</real>
      <integer>-526</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>112.38372093023256</real>
      <real>112.30232558139535</real>
      <real>118.46511627906978</real>
      <real>118.07751937984497</real>
      <real>115.07751937984497</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>174.03100775193798</real>
      <real>186.17441860465118</real>
      <real>174.80620155038758</real>
      <real>183.64341085271317</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Russolo 10pt</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>10pt Regular</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>997.6317829457364</real>
  </dict>
</plist>
